<section class="module-description">
  <h2>DsfrSearchBarComponent</h2>
  <p>
    The <code>DsfrSearchBarComponent</code> purpose is to represent link tile element.
  </p>
  <p>
    It is based on the
    <a
      target="_blank"
      hreflang="fr"
      title="The documentation page for the Search Bar Component in the DSFR"
      href="https://www.systeme-de-design.gouv.fr/elements-d-interface/composants/barre-de-recherche/">
      Search Bar
      <mat-icon>open_in_new</mat-icon>
    </a>
    component in the
    <a
      target="_blank"
      hreflang="fr"
      title="The DSFR documentation"
      href="https://www.systeme-de-design.gouv.fr/">
      DSFR
      <mat-icon>open_in_new</mat-icon>
    </a>
    .
  </p>
  <p>It has several <code>@Input()</code>  and <code>@Output()</code> properties:</p>
  <dl class="input-properties">
    <play-input-property-definition
      name="id"
      [required]="true"
      type="It takes a string with unique value'">
    </play-input-property-definition>
    <play-input-property-definition
      name="label"
      [required]="true"
      type="It takes a string.">
      The label of the input search, only for accessibility because it is not displayed
    </play-input-property-definition>
    <play-input-property-definition
      name="placeholder"
      type="It takes a string.">
    </play-input-property-definition>
    <play-input-property-definition
      name="autocomplete"
      type="boolean"
      description="It displays the autocompletion of the search"
      default="false">
    </play-input-property-definition>
    <play-input-property-definition
      name="size"
      default="md"
      type="It takes a string with 2 possible values : <code>md</code>, <code>lg</code>">
    </play-input-property-definition>
    <play-input-property-definition
      name="minCharacterForSearch"
      default="3"
      type="number greater than 0">
      Minimum characters to enter on the input for searching
    </play-input-property-definition>
    <play-input-property-definition
      name="displayNoResultMessage"
      type="boolean"
      default="true">
      It displays the message 'Aucun résultat' if no result found for the current search
    </play-input-property-definition>
    <play-input-property-definition
      name="service"
      type="DsfrAutocompleteService">
      It takes a service with the method <code>search(query: string)</code> which call the API
    </play-input-property-definition>
    <play-input-property-definition
      name="select()"
      type="Output">
      Emit the object of the selected item on click on the item in the autocompletion
    </play-input-property-definition>
    <play-input-property-definition
      name="submit()"
      type="Output">
      Emit the value of the selected item on click on the button
    </play-input-property-definition>
    <play-input-property-definition
      name="focus()"
      type="Output">
      Emit the value of the input when the user focus on it
    </play-input-property-definition>
    <play-input-property-definition
      name="blur()"
      type="Output">
      Emit the value of the input on blur
    </play-input-property-definition>
    <play-input-property-definition
      name="keyUp()"
      type="Output">
      Emit the value of the input on each key up
    </play-input-property-definition>
  </dl>
</section>
<section class="module-simulations">
  <h2>Play with the Component 😃</h2>
  <mat-card *ngIf="inputForm && inputSearchForm">
    <mat-card-header>
      <mat-card-title>Search Bar</mat-card-title>
    </mat-card-header>
    <mat-card-content class="simulation">
      <div class="settings">
        <form
          [formGroup]="inputSearchForm"
          novalidate>
          <play-input-property-control
            formControlName="label"
            name="label"
            type="string">
          </play-input-property-control>
          <play-input-property-control
            formControlName="placeholder"
            name="placeholder"
            type="string">
          </play-input-property-control>
          <play-input-property-control
            formControlName="minCharacterForSearch"
            name="minCharacterForSearch"
            type="number">
          </play-input-property-control>
          <play-input-property-control
            formControlName="size"
            name="size"
            [enum]="possibleSizes"
            type="enum">
          </play-input-property-control>
          <play-input-property-control
            formControlName="autocomplete"
            name="autocomplete"
            type="boolean">
          </play-input-property-control>
          <play-input-property-control
            formControlName="displayNoResultMessage"
            name="displayNoResultMessage"
            type="boolean">
          </play-input-property-control>
          <button
            mat-raised-button
            color="accent"
            (click)="inputForm.reset()">
            Reset
          </button>
        </form>
      </div>
      <div class="simulator-wrapper mat-elevation-z4">
        <play-simulator>
          <form
            [formGroup]="inputForm"
            novalidate>
            <dsfr-search-bar
              formControlName="autocomplete"
              id="search-1"
              [label]="inputSearchForm.getRawValue().label"
              [autocomplete]="inputSearchForm.getRawValue().autocomplete"
              [size]="inputSearchForm.getRawValue().size"
              [displayNoResultMessage]="inputSearchForm.getRawValue().displayNoResultMessage"
              [minCharacterForSearch]="inputSearchForm.getRawValue().minCharacterForSearch"
              [service]="testSearchService"
              [placeholder]="inputSearchForm.getRawValue().placeholder"
              (select)="onSelectItem($event)"
              (submit)="onSubmitSearch($event)">
            </dsfr-search-bar>
            <div class="result">
              <p>
                The selected value is : {{ selectedItem | json }}
              </p>
              <p>
                The submitted value is : {{ submittedItem | json }}
              </p>
            </div>
          </form>
        </play-simulator>
      </div>
    </mat-card-content>
  </mat-card>
</section>
