<div class="form-control">
  <label>
    <code>{{ name }}</code> : ( <span class="property-type">{{ type }}</span> )
    <span class="property-description">{{ description }}</span>
  </label>
  <ng-container [ngSwitch]="type">
    <mat-form-field *ngSwitchCase="'string'">
      <mat-label>{{ name | titlecase }}</mat-label>
      <input
        #control
        matInput
        (input)="onValueChanges($event)"
        (blur)="onBlur()" />
      <mat-error>{{ error }}</mat-error>
    </mat-form-field>
    <mat-slide-toggle
      *ngSwitchCase="'boolean'"
      #toggle
      [checked]="formControlValue"
      [disabled]="isDisabled"
      (change)="onValueChanges($event)"
      (blur)="onBlur()">
      {{ toggle.checked ? "True" : "False" }}
    </mat-slide-toggle>
  </ng-container>
</div>
