<section class="module-description">
  <h2>DsfrTileComponent</h2>
  <p>
    The <code>DsfrTileComponent</code> purpose is to represent link tile element.
  </p>
  <p>
    It is based on the
    <a
      target="_blank"
      hreflang="fr"
      title="The documentation page for the Tile Component in the DSFR"
      href="https://www.systeme-de-design.gouv.fr/elements-d-interface/composants/tuile">
      Tile
      <mat-icon>open_in_new</mat-icon>
    </a>
    component in the
    <a
      target="_blank"
      hreflang="fr"
      title="The DSFR documentation"
      href="https://www.systeme-de-design.gouv.fr/">
      DSFR
      <mat-icon>open_in_new</mat-icon>
    </a>
    .
  </p>
  <p>It has several <code>&#64;Input()</code> properties:</p>
  <dl class="input-properties">
    <play-input-property-definition
      name="link"
      [required]="true"
      type="It takes a string, it can be routerLink or external like 'http://...'">
    </play-input-property-definition>
    <play-input-property-definition
      name="title"
      [required]="true"
      type="It takes a string.">
      The title of the tile, it's displayed in an H4 tag.
    </play-input-property-definition>
    <play-input-property-definition
      name="description"
      type="It takes a string.">
    </play-input-property-definition>
    <play-input-property-definition
      name="image"
      type="It takes a string which is the image's path.">
      Image to add a design element to the tile.
    </play-input-property-definition>
    <play-input-property-definition
      name="align"
      default="vertical"
      type="It takes a string with only 2 possible values : <code>horizontal</code> or <code>vertical</code>" >
    </play-input-property-definition>
    <play-input-property-definition
      name="breakpoint"
      type="It takes a string with 5 possible values : <code>xs</code>, <code>sm</code>, <code>md</code>, <code>lg</code>, <code>xl</code>">
      You can see the
      <a
      target="_blank"
      hreflang="fr"
      title="The documentation page for the breakpoint rules in the DSFR"
      href="https://www.systeme-de-design.gouv.fr/elements-d-interface/fondamentaux-techniques/grille-et-points-de-rupture/">
      current breakpoint rules documentation in the DSFR
      <mat-icon>open_in_new</mat-icon>
    </a>
    </play-input-property-definition>
    <play-input-property-definition
      name="download"
      default="false"
      type="boolean">
      It is used to permits to the end-users to download a file. <br>
      The property <code>link</code> value must be the path of the corresponding file. <br>
      When this property is true, the alignment is automatically set to <code>horizontal</code>, even if <code>vertical</code> is selected.
    </play-input-property-definition>
    <play-input-property-definition
      name="detail"
      type="It takes a string">
      An optional text to help end-users understand the purpose of a tile. <br>
      It also can be used to display the file information when it is a download tile.
    </play-input-property-definition>
  </dl>
</section>
<section class="module-simulations">
  <h2>Play with the Component 😃</h2>

  @if (formTileDescriptionAndTitle) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>Tile with description and image</mat-card-title>
        <mat-card-subtitle>
          Without image, the description and title will be displayed correctly in the tile.
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="simulation">
        <div class="settings">
          <form
            [formGroup]="formTileDescriptionAndTitle"
            novalidate>
            <play-input-property-control
              formControlName="title"
              name="title"
              type="string">
            </play-input-property-control>
            <play-input-property-control
              formControlName="description"
              name="description"
              label="Tile description"
              type="string">
            </play-input-property-control>
            <play-input-property-control
              formControlName="align"
              name="align"
              label="Tile alignment"
              type="enum"
              [enum]="possibleAlignment">
            </play-input-property-control>
            <play-input-property-control
              formControlName="link"
              name="link"
              label="Link"
              type="string">
            </play-input-property-control>
            <play-input-property-control
              formControlName="breakpoint"
              name="breakpoint"
              label="Breakpoint"
              type="enum"
              [enum]="possibleBreakpoints">
            </play-input-property-control>
            <play-input-property-control
              formControlName="download"
              name="download"
              label="Download"
              type="boolean">
            </play-input-property-control>
            <play-input-property-control
              formControlName="detail"
              name="detail"
              label="Detail"
              type="string">
            </play-input-property-control>
            <button
              mat-raised-button
              color="accent"
              (click)="formTileDescriptionAndTitle.reset()">
              Reset
            </button>
          </form>
        </div>
        <div class="simulator-wrapper mat-elevation-z4">
          <play-simulator>
            <dsfr-tile
              [title]="formTileDescriptionAndTitle.getRawValue().title"
              [align]="formTileDescriptionAndTitle.getRawValue().align"
              [download]="formTileDescriptionAndTitle.getRawValue().download"
              [detail]="formTileDescriptionAndTitle.getRawValue().detail"
              image="https://www.gouvernement.fr/sites/default/files/static_assets/placeholder.1x1.png"
              [description]="formTileDescriptionAndTitle.getRawValue().description"
              [link]="formTileDescriptionAndTitle.getRawValue().link"
              [breakpoint]="formTileDescriptionAndTitle.getRawValue().breakpoint">
            </dsfr-tile>
          </play-simulator>
        </div>
      </mat-card-content>
    </mat-card>
  }

  @if (formTileWithoutImage) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>Tile without image</mat-card-title>
      </mat-card-header>
      <mat-card-content class="simulation">
        <div class="settings">
          <form
            [formGroup]="formTileWithoutImage"
            novalidate>
            <play-input-property-control
              formControlName="title"
              name="title"
              type="string">
            </play-input-property-control>
            <play-input-property-control
              formControlName="description"
              name="description"
              label="Tile description"
              type="string">
            </play-input-property-control>
            <play-input-property-control
              formControlName="align"
              name="align"
              label="Tile alignment"
              type="enum"
              [enum]="possibleAlignment">
            </play-input-property-control>
            <play-input-property-control
              formControlName="download"
              name="download"
              label="Download"
              type="boolean">
            </play-input-property-control>
            <play-input-property-control
              formControlName="detail"
              name="detail"
              label="Detail"
              type="string">
            </play-input-property-control>
            <button
              mat-raised-button
              color="accent"
              (click)="formTileWithoutImage.reset()">
              Reset
            </button>
          </form>
        </div>
        @if (formTileWithoutImage) {
          <div class="simulator-wrapper mat-elevation-z4">
            <play-simulator>
              <dsfr-tile
                [title]="formTileWithoutImage.getRawValue().title"
                [align]="formTileWithoutImage.getRawValue().align"
                [download]="formTileWithoutImage.getRawValue().download"
                [detail]="formTileWithoutImage.getRawValue().detail"
                [description]="formTileWithoutImage.getRawValue().description"
                link="/modules/tile">
              </dsfr-tile>
            </play-simulator>
          </div>
        }
      </mat-card-content>
    </mat-card>
  }

  @if(formTileGrid) {
    <mat-card>
      <mat-card-header>
        <mat-card-title>Grid tiles</mat-card-title>
        <mat-card-subtitle>
          You can select the number of tiles you want in your row to see the rendering
        </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="simulation">
        <div class="settings">
          <form
            [formGroup]="formTileGrid"
            novalidate>
            <play-input-property-control
              formControlName="nbTiles"
              name="Number of tiles"
              label="Number of tiles"
              [enum]="possiblesNbTiles"
              type="enum">
            </play-input-property-control>
            <play-input-property-control
              formControlName="align"
              name="align"
              label="Tile alignment"
              type="enum"
              [enum]="possibleAlignment">
            </play-input-property-control>
          </form>
        </div>
        <div class="simulator-wrapper mat-elevation-z4">
          <play-simulator>
            <div class="fr-grid-row fr-grid-row--gutters">
              <ng-container  *ngFor="let tile of nbTilesIteration">
                <div [class]="colClass">
                  <dsfr-tile
                    title="This is a title"
                    [align]="formTileGrid.getRawValue().align"
                    image="https://www.gouvernement.fr/sites/default/files/static_assets/placeholder.1x1.png"
                    description="This is a description"
                    link="/modules/tile">
                  </dsfr-tile>
                </div>
              </ng-container>
            </div>
          </play-simulator>
        </div>
      </mat-card-content>
    </mat-card>
  }
</section>
