<section class="module-description">
  <h2>DsfrHeaderComponent</h2>
  <p>
    The <code>DsfrHeaderComponent</code> purpose is to represent the header of
    an application.
  </p>
  <p>
    It is based on the
    <a
      target="_blank"
      hreflang="fr"
      title="The documentation page for the Header Component in the DSFR"
      href="https://www.systeme-de-design.gouv.fr/elements-d-interface/composants/en-tete">
      Header
      <mat-icon>open_in_new</mat-icon>
    </a>
    component in the
    <a
      target="_blank"
      hreflang="fr"
      title="The DSFR documentation"
      href="https://www.systeme-de-design.gouv.fr/">
      DSFR
      <mat-icon>open_in_new</mat-icon>
    </a>
    .
  </p>
  <p>It has several <code>@Input()</code> and <code>@Output()</code> properties:</p>
  <dl class="input-properties">
    <play-input-property-definition
      name="institution"
      type="It takes a string with <code>\n</code> characters to denote when to
        break the lines."
      default="'République\nFrançaise'">
      The part of the French government ultimately in charge of the web
      application. It must respect some
      <a
        href="https://www.gouvernement.fr/charte/charte-graphique-les-fondamentaux/le-bloc-marque#Les-r%C3%A8gles-de-c%C3%A9sure"
        hreflang="fr"
        target="_blank"
        title="examples to display the name of several French government institutions">
        rules on how to break lines
        <mat-icon>open_in_new</mat-icon>
      </a>
      .
    </play-input-property-definition>
    <play-input-property-definition
      name="operatorLogoSrc"
      type="It takes a string.">
      The path on your server to the logo of the operator, the agency within the
      institution, in charge of the web application.
    </play-input-property-definition>
    <play-input-property-definition
      name="operatorLogoAlt"
      required="Required if operatorLogoSrc has a value"
      type="It takes a string.">
      The alternative text for the logo of the operator. Necessary for
      accessibility: it MUST have at least the text visible on the logo
      illustration.
    </play-input-property-definition>
    <play-input-property-definition
      name="appName"
      type="It takes a string.">
      The name of your web application.
    </play-input-property-definition>
    <play-input-property-definition
      name="appDescription"
      type="It takes a string.">
      A short description of what your application does.
    </play-input-property-definition>
    <play-input-property-definition
      name="link"
      default="'/'"
      type="It takes a string.">
      The path, corresponding to the Angular <code>Route</code> that you want
      the user to be redirected to when they click on the institution,
      operator's logo or your app's name.
    </play-input-property-definition>
    <play-input-property-definition
      name="searchBar"
      default="false"
      type="It takes a boolean">
      It will display the autocompletion of the search
    </play-input-property-definition>
    <play-input-property-definition
      name="searchBarAutoCompletion"
      default="false"
      type="It takes a boolean">
      It will display the search bar component on the right
      of the header.
    </play-input-property-definition>
    <play-input-property-definition
      name="searchQuerySubmitted()"
      default="false"
      type="Output()">
      It emits the search bar value on click on the search button.
    </play-input-property-definition>
  </dl>
</section>

<section class="module-simulations">
  <h2>Play with the Component 😃</h2>
  <mat-card *ngIf="formHeaderWithAppName">
    <mat-card-header>
      <mat-card-title>Header without operator's logo</mat-card-title>
      <mat-card-subtitle>
        Without the operator's logo, header actions or navigation. You can add
        or remove the app's name and/or description
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="simulation">
      <div class="settings">
        <form
          [formGroup]="formHeaderWithAppName"
          novalidate>
          <play-input-property-control
            formControlName="institution"
            name="institution"
            type="enum"
            [enum]="possibleInstitutions">
          </play-input-property-control>
          <play-input-property-control
            formControlName="appName"
            name="appName"
            label="Application name"
            type="string">
          </play-input-property-control>
          <play-input-property-control
            formControlName="appDescription"
            name="appDescription"
            label="Application description"
            type="string">
          </play-input-property-control>
          <button
            mat-raised-button
            color="accent"
            (click)="formHeaderWithAppName.reset()">
            Reset
          </button>
        </form>
      </div>
      <div class="simulator-wrapper mat-elevation-z4">
        <play-simulator>
          <dsfr-header
            [institution]="formHeaderWithAppName.getRawValue().institution"
            [appName]="formHeaderWithAppName.getRawValue().appName"
            [appDescription]="
              formHeaderWithAppName.getRawValue().appDescription
            "></dsfr-header>
        </play-simulator>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="formHeaderWithLogo">
    <mat-card-header>
      <mat-card-title>Header with operator's logo</mat-card-title>
      <mat-card-subtitle>
        Without header actions or navigation. You can add or remove the app's
        name and/or description
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="simulation">
      <div class="settings">
        <form
          [formGroup]="formHeaderWithLogo"
          novalidate>
          <play-input-property-control
            formControlName="institution"
            name="institution"
            type="enum"
            [enum]="possibleInstitutions">
          </play-input-property-control>
          <play-input-property-control
            formControlName="appName"
            name="appName"
            label="Application name"
            type="string">
          </play-input-property-control>
          <play-input-property-control
            formControlName="appDescription"
            name="appDescription"
            label="Application description"
            type="string">
          </play-input-property-control>
          <play-input-property-control
            formControlName="operatorLogoAlt"
            name="operatorLogoAlt"
            label="Value for the alt attribute of the logo"
            [error]="errors['formHeaderWithLogo']"
            type="string">
          </play-input-property-control>
          <button
            mat-raised-button
            color="accent"
            (click)="formHeaderWithLogo.reset()">
            Reset
          </button>
        </form>
      </div>
      <div class="simulator-wrapper mat-elevation-z4">
        <play-simulator>
          <dsfr-header
            [institution]="formHeaderWithLogo.getRawValue().institution"
            [appName]="formHeaderWithLogo.getRawValue().appName"
            [appDescription]="formHeaderWithLogo.getRawValue().appDescription"
            operatorLogoSrc="assets/illustrations/Logo ANCT.svg"
            [operatorLogoAlt]="formHeaderWithLogo.getRawValue().operatorLogoAlt">
          </dsfr-header>
        </play-simulator>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card *ngIf="formHeaderComplete">
    <mat-card-header>
      <mat-card-title>Complete header</mat-card-title>
      <mat-card-subtitle>
        With navigation and header actions
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class="simulation">
      <p>
        We use the <code>DsfrHeaderActionDirective</code>, applied on an
        <code>ng-template</code> tag, to provide through
        <a
          target="_blank"
          hreflang="en"
          title="The documentation page for content projection in Angular"
          href="https://angular.io/guide/content-projection">
          content projection
          <mat-icon>open_in_new</mat-icon>
        </a>
        the header actions.
      </p>
      <p>
        If you need to provide navigation, you can also use the
        <code>DsfrNavigationComponent</code> via
        <a
          target="_blank"
          hreflang="en"
          title="The documentation page for content projection in Angular"
          href="https://angular.io/guide/content-projection">
          content projection
          <mat-icon>open_in_new</mat-icon> </a
        >.
      </p>
      <p>Example:</p>
      <pre>
        &lt;dsfr-header
          appName="My wonderful app 😃"&gt;
          <span class='highlight-code'>&lt;ng-template dsfrHeaderAction&gt;</span>
              &lt;dsfr-link
                label="Être tenu informé"
                link="./"
                [searchBar]="true"
                [inline]="false"
                icon="notification-3-line"
                [iconAlignment]="iconAlignment.LEFT"&gt;
              &lt;/dsfr-link&gt;
          <span class='highlight-code'>&lt;/ng-template&gt;</span>
          <span class='highlight-code'>&lt;ng-template dsfrHeaderAction&gt;</span>
              &lt;dsfr-link
                label="Aide et documentation"
                link="./"
                [inline]="false"
                icon="information-line"
                [iconAlignment]="iconAlignment.LEFT"&gt;
              &lt;/dsfr-link&gt;
          <span class='highlight-code'>&lt;/ng-template&gt;</span>
          <span class='highlight-code'>&lt;ng-template dsfrHeaderAction&gt;</span>
              &lt;dsfr-button
                label="Se connecter"
                [type]="buttonTypes.TERTIARY"
                icon="account-line"
                [iconAlignment]="iconAlignment.LEFT"&gt;
              &lt;/dsfr-button&gt;
          <span class='highlight-code'>&lt;/ng-template&gt;</span>
          <span class='highlight-code'>&lt;dsfr-navigation [navigation]="navigation"&gt;&lt;/dsfr-navigation&gt;</span>
        &lt;/dsfr-header&gt;
      </pre>
      <div class="settings">
        <form
          [formGroup]="formHeaderComplete"
          novalidate>
          <play-input-property-control
            formControlName="institution"
            name="institution"
            type="enum"
            [enum]="possibleInstitutions">
          </play-input-property-control>
          <play-input-property-control
            formControlName="appName"
            name="appName"
            label="Application name"
            type="string">
          </play-input-property-control>
          <play-input-property-control
            formControlName="appDescription"
            name="appDescription"
            label="Application description"
            type="string">
          </play-input-property-control>
          <play-input-property-control
            formControlName="searchBar"
            name="searchBar"
            label="Display Search Bar"
            type="boolean">
          </play-input-property-control>
          <play-input-property-control
            formControlName="operatorLogoAlt"
            name="operatorLogoAlt"
            label="Value for the alt attribute of the logo"
            [error]="errors['formHeaderComplete']"
            type="string">
          </play-input-property-control>
            <button
            mat-raised-button
            color="accent"
            (click)="formHeaderComplete.reset()">
            Reset
          </button>
        </form>
      </div>
      <div class="simulator-wrapper mat-elevation-z4">
        <play-simulator>
          <dsfr-header
            [institution]="formHeaderComplete.getRawValue().institution"
            [appName]="formHeaderComplete.getRawValue().appName"
            [appDescription]="formHeaderComplete.getRawValue().appDescription"
            operatorLogoSrc="assets/illustrations/Logo ANCT.svg"
            [searchBar]="formHeaderComplete.getRawValue().searchBar"
            [operatorLogoAlt]="formHeaderComplete.getRawValue().operatorLogoAlt">
            <ng-template dsfrHeaderAction>
              <dsfr-link
                label="Être tenu informé"
                link="./"
                [inline]="false"
                icon="notification-3-line"
                [iconAlignment]="iconAlignment.LEFT">
              </dsfr-link>
            </ng-template>
            <ng-template dsfrHeaderAction>
              <dsfr-link
                label="Aide et documentation"
                link="./"
                [inline]="false"
                icon="information-line"
                [iconAlignment]="iconAlignment.LEFT">
              </dsfr-link>
            </ng-template>
            <ng-template dsfrHeaderAction>
              <dsfr-button
                label="Se connecter"
                [type]="buttonTypes.TERTIARY"
                icon="account-line"
                [iconAlignment]="iconAlignment.LEFT">
              </dsfr-button>
            </ng-template>
            <dsfr-navigation [navigation]="navigation"></dsfr-navigation>
          </dsfr-header>
        </play-simulator>
      </div>
    </mat-card-content>
  </mat-card>
</section>
