<section class="module-description">
  <h2>Description</h2>
  <p>Some description - To be completed</p>
  <p>
    Use the <code>--dsfr-button-width</code> CSS variable to customize the
    button's width.
  </p>
</section>

<section class="module-simulations">
  <h2>Play with the Component 😃</h2>
  <div class="simulation">
    <div
      class="settings"
      *ngIf="form">
      <form
        [formGroup]="form"
        novalidate>
        <input formControlName="label" />
      </form>
    </div>
    <play-simulator>
      <div>
        Simple Button :
        <dsfr-button [label]="'test'"> </dsfr-button>

        <hr />

        Button with icon :
        <dsfr-button
          [icon]="'fr-icon-checkbox-circle-line'"
          [label]="'test'">
        </dsfr-button>

        <hr />

        Disabled Button :
        <dsfr-button
          [disabled]="true"
          [label]="'This is a button'">
        </dsfr-button>

        <hr />
      </div>
    </play-simulator>
  </div>
</section>
