// Imports
@use "variables" as var;

// Actual styling
.form-control {
  display: flex;
  align-items: flex-start;
  margin: var.$default-margin 0;

  label {
    margin: var.$default-margin;
  }

  .string-property {
    width: 100%;
  }
}
