.simulation {
  display: flex;

  .settings {
    width: 50%;
    background-color: indianred;
  }

  play-simulator {
    width: 50%;
    background-color: aqua;
  }
}

.simulation__container {
  margin: 15px;
}
