// Imports
@use "@angular/material" as mat;
@use "variables" as var;

// Variables
$primary-palette: mat.$pink-palette;
$primary-color: mat.get-color-from-palette($primary-palette, A200);

// Actual styling
b {
  font-weight: bold;
  font-size: 1.01rem;
}

ul {
  list-style: disc inside;
  margin-bottom: 20px;

  li {
    margin-bottom: 8px;
  }
}

.highlight-code {
  color: $primary-color;
  font-weight: bold;
  letter-spacing: 0.02rem;
}

.module-simulations {
  margin-top: 2 * var.$default-margin;

  .mat-mdc-card {
    margin: var.$default-margin 0 2 * var.$default-margin;

    .simulation {
      display: flex;
      flex-direction: column;
      padding: var.$default-padding;

      & > * {
        flex: 1;
      }

      .settings {
        margin-right: var.$default-margin;

        form {
          display: flex;
          flex-direction: column;

          .form-fields {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            margin: 0 42px;
          }

          button {
            margin: var.$default-margin;
            align-self: flex-end;
          }
        }
      }
    }
  }
}
