<h2>Description</h2>
<p class='simulation'>Some description</p>

<h2>Play with the Component 😃</h2>
<play-simulator>
  <p class='simulation'>Just some text before,
    <dsfr-link
      label='DSFR Link works 😁'
      title='An article about noopener'
      [inline]='false'
      [iconAlignment]='iconAlignment.RIGHT'
      icon='ancient-gate-fill'
      [size]='linkSize.MEDIUM'
      [backToTop]='false'
      link='cloud-public.com/amazon-web-services/'></dsfr-link>
    ... and after
  </p>
</play-simulator>
