<section class="module-description">
  <h2>DsfrLinkComponent</h2>
  <p>
    The <code>DsfrLinkComponent</code> purpose is to represent a link to a
    specific URL, either within or outside the application.
  </p>
  <p>
    It is based on the
    <a
      target="_blank"
      hreflang="fr"
      href="https://www.systeme-de-design.gouv.fr/elements-d-interface/composants/liens">
      Link
      <mat-icon>open_in_new</mat-icon>
    </a>
    component in the
    <a
      target="_blank"
      hreflang="fr"
      href="https://www.systeme-de-design.gouv.fr/">
      DSFR
      <mat-icon>open_in_new</mat-icon>
    </a>
    .
  </p>
  <p>It has several <code>&#64;Input()</code> properties</p>
  <dl class="input-properties">
    <play-input-property-definition
      name="label"
      required="It is required when the property backToTop is false"
      type="It takes a string">
      The text actually displayed within the link.
    </play-input-property-definition>
    <play-input-property-definition
      name="inline"
      default="false"
      type="boolean">
      Whether the link is supposed to be displayed within a text or not
    </play-input-property-definition>
    <play-input-property-definition
      name="link"
      [required]="true"
      type="It takes a string">
      It is added to the href attribute, it can be internal or external.
      When the link is external (begins by <code>http://</code> or <code>https://</code>) the target attribute is set to <code>_blank</code>
    </play-input-property-definition>
    <play-input-property-definition
      name="size"
      type="It takes a string with 3 possible values : <code>sm</code>, <code>md</code> or <code>lg</code>">
      You can import the <code>ElementSize</code> enum, from the
      <code>&#64;betagouv/ngx-dsfr</code> library entry-point, in your app, to
      safely provide a value for this property.
    </play-input-property-definition>
    <play-input-property-definition
      name="backToTop"
      default="false"
      type="boolean">
      This input permits to set the component as a link which when the user
      click on it, it scrolls to the top of the current page.
    </play-input-property-definition>
    <play-input-property-definition
      name="icon"
      type="It takes a string">
      It will display an icon, alone if no label provided, or at the left or
      right according to the <code>iconAlignment</code> Input.
      <br />
      <a
        target="_blank"
        hreflang="fr"
        title="The documentation page for the Icons in the DSFR"
        href="https://www.systeme-de-design.gouv.fr/elements-d-interface/fondamentaux-techniques/icone">
        Here
        <mat-icon>open_in_new</mat-icon>
      </a>
      is the list of all the icons available.
    </play-input-property-definition>
    <play-input-property-definition
      name="iconAlignment"
      default="left"
      type="It takes a string with 2 possible values : <code>right</code> or <code>left</code>">
      It will align the provided icon at the left or right of the label. This
      input is not necessary if no label is provided. You can import the
      <code>ElementAlignment</code> enum, from the
      <code>&#64;betagouv/ngx-dsfr</code> library entry-point, in your app, to
      safely provide a value for this property.
    </play-input-property-definition>
    <play-input-property-definition
      name="title"
      type="It takes a string">
      For accessibility, it will display the title on hover of the link.
    </play-input-property-definition>
    <play-input-property-definition
      name="download"
      default="false"
      type="boolean">
      It is used to permits to the end-users to download a file.
      The property <code>link</code> value must be the path of the corresponding file.
    </play-input-property-definition>
    <play-input-property-definition
      name="detail"
      type="It takes a string">
      An optional text to help end-users understand the purpose of a link.
      It also can be used to display the file information when it is a download link.
    </play-input-property-definition>
  </dl>
</section>
<section class="module-simulations">
  <h2>Play with the Component 😃</h2>
  <mat-card *ngIf="formInlineTrue">
    <mat-card-header>
      <mat-card-title>Link within text</mat-card-title>
    </mat-card-header>
    <mat-card-content class="simulation">
      <p>Example :</p>
<pre>
<span class='highlight-code'>&lt;dsfr-link</span>
  label="This is a beautiful label"
  link="/homepage"
  icon="fr-icon-checkbox-circle-line"
  title="This is a title"<span class='highlight-code'>&gt;
&lt;/dsfr-link&gt;</span>
</pre>
      <div class="settings">
        <form
          [formGroup]="formInlineTrue"
          novalidate>
          <play-input-property-control
            formControlName="inline"
            name="inline"
            type="boolean">
          </play-input-property-control>
          <hr />
          <play-input-property-control
            formControlName="label"
            name="label"
            type="string"
            [error]="formInlineTrueErrors['label']">
          </play-input-property-control>
          <hr />
          <play-input-property-control
            formControlName="link"
            name="link"
            type="string"
            [error]="formInlineTrueErrors['link']">
          </play-input-property-control>
          <hr />
          <play-input-property-control
            formControlName="title"
            name="title"
            type="string"
            [error]="formInlineTrueErrors['_form_']">
          </play-input-property-control>
          <hr />
          <play-input-property-control
            formControlName="download"
            name="download"
            type="boolean">
          </play-input-property-control>
          <play-input-property-control
            formControlName="detail"
            name="detail"
            type="string">
          </play-input-property-control>
          <play-input-property-control
            formControlName="backToTop"
            name="backToTop"
            type="boolean">
          </play-input-property-control>
          <button
            mat-button
            (click)="formInlineTrue.reset()">
            Reset
          </button>
        </form>
      </div>
      <div class="simulator-wrapper mat-elevation-z4">
        <play-simulator>
          <p>
            @if (
              !formInlineTrue.getRawValue().backToTop &&
              !formInlineTrue.getRawValue().download
            ) {
              Just some text before,
            }
            <dsfr-link
              [label]="formInlineTrue.getRawValue().label"
              [title]="formInlineTrue.getRawValue().title"
              [inline]="formInlineTrue.getRawValue().inline"
              [backToTop]="formInlineTrue.getRawValue().backToTop"
              [download]="formInlineTrue.getRawValue().download"
              [detail]="formInlineTrue.getRawValue().detail"
              [iconAlignment]="iconAlignment.RIGHT"
              icon="ancient-gate-fill"
              [size]="linkSize.MEDIUM"
              [link]="formInlineTrue.getRawValue().link">
            </dsfr-link>
            @if (
              !formInlineTrue.getRawValue().backToTop &&
              !formInlineTrue.getRawValue().download
            ) {
              ... and after
            }
          </p>
        </play-simulator>
      </div>
    </mat-card-content>
  </mat-card>
</section>
