<section class='module-description'>
  <h2>DsfrBadgeComponent</h2>
  <p>
    The <code>DsfrBadgeComponent</code> purpose is to represent the badge
  </p>
  <p>
    It is based on the
    <a
      target='_blank'
      hreflang='fr'
      title='The documentation page for the Badge Component in the DSFR'
      href='https://www.systeme-de-design.gouv.fr/elements-d-interface/composants/badge/'>
      Alerte
      <mat-icon>open_in_new</mat-icon>
    </a>
    component in the
    <a
      target='_blank'
      hreflang='fr'
      title='The DSFR documentation'
      href='https://www.systeme-de-design.gouv.fr/'>
      DSFR
      <mat-icon>open_in_new</mat-icon>
    </a>
    .
  </p>
  <p>It has several <code>@Input()</code> properties:</p>
  <dl class='input-properties'>
    <play-input-property-definition
      name='label'
      type='It takes a string'>
      It is required.
    </play-input-property-definition>
    <play-input-property-definition
      name='theme'
      type='It takes a string with many possible values : <code>info</code>, <code>new</code>, <code>warning</code>, <code>success</code>, <code>error</code>
      , ...'>
      It is required.
    </play-input-property-definition>
    <play-input-property-definition
      name='size'
      type='It takes a string with 2 possible values : <code>sm</code> or <code>md</code>'
      default='md'>
    </play-input-property-definition>
    <play-input-property-definition
      name='noIcon'
      type='boolean'
      default='false'>
    </play-input-property-definition>
  </dl>
</section>
<section class='module-simulations'>
  <h2>Play with the Component 😃</h2>
  <mat-card *ngIf='badgeForm'>
    <mat-card-header>
      <mat-card-title>Badge component</mat-card-title>
      <mat-card-subtitle>
        It displays a badge
      </mat-card-subtitle>
    </mat-card-header>
    <mat-card-content class='simulation'>
      <p>Example : </p>
      <pre>
  <span class='highlight-code'>&lt;dsfr-badge</span>
    theme="info"
    label="This is a label"
  <span class='highlight-code'>&gt;&lt;/dsfr-badge&gt;</span>
</pre>
      <div class='settings'>
        <form
          [formGroup]='badgeForm'
          novalidate>
          <play-input-property-control
            formControlName='label'
            name='label'
            type='string'>
          </play-input-property-control>
          <play-input-property-control
            formControlName='noIcon'
            name='noIcon'
            type='boolean'>
          </play-input-property-control>
          <play-input-property-control
            formControlName='size'
            [enum]='possibleSizes'
            name='size'
            type='enum'>
          </play-input-property-control>
          <play-input-property-control
            formControlName='theme'
            [enum]='possibleThemes'
            name='type'
            type='enum'>
          </play-input-property-control>
          <button
            mat-raised-button
            color='accent'
            (click)='badgeForm.reset()'>
            Reset
          </button>
        </form>
      </div>
      <div class='simulator-wrapper mat-elevation-z4'>
        <play-simulator>
          <div class='template-alert'>
            <dsfr-badge
              [label]='badgeForm.getRawValue().label'
              [noIcon]='badgeForm.getRawValue().noIcon'
              [size]='badgeForm.getRawValue().size'
              [theme]='badgeForm.getRawValue().theme'
            ></dsfr-badge>
          </div>
        </play-simulator>
      </div>
    </mat-card-content>
  </mat-card>
</section>
