<section class="module-description">
  <h2>DsfrErrorPageComponent</h2>
  <p>
    The <code>DsfrErrorPageComponent</code> purpose is to represent an error page in an application.
  </p>
  <p>
    It is based on the
    <a
      target="_blank"
      hreflang="fr"
      title="The documentation page for the Error Page Component in the DSFR"
      href="https://www.systeme-de-design.gouv.fr/elements-d-interface/modeles/page-d-erreurs">
      Error Page
      <mat-icon>open_in_new</mat-icon>
    </a>
    component in the
    <a
      target="_blank"
      hreflang="fr"
      title="The DSFR documentation"
      href="https://www.systeme-de-design.gouv.fr/">
      DSFR
      <mat-icon>open_in_new</mat-icon>
    </a>
    .
  </p>
  <p>It has several <code>@Input()</code> properties:</p>
  <dl class="input-properties">
    <play-input-property-definition
      name="appName"
      required='Required only if status is 503 and no content added'
      type="It takes a string.">
      The name of your web application. <br>
      When a 503 error status happens, the name is displayed on the default text.
    </play-input-property-definition>
    <play-input-property-definition
      name="title"
      required="true"
      type="It takes a string.">
      It will be displayed on a H1 tag.
    </play-input-property-definition>
    <play-input-property-definition
      name="status"
      type="It takes a string with 4 possible values : <code>404</code>, <code>500</code> or <code>503</code>"
      default="404">
    </play-input-property-definition>
    <play-input-property-definition
      name="homeLink"
      type="It takes a string.">
      Link to the homepage of your application
    </play-input-property-definition>
    <play-input-property-definition
      name="contactUsLink"
      type="It takes a string.">
      Link to the contact page of your application.
    </play-input-property-definition>
  </dl>
</section>
<section class="module-simulations">
  <h2>Play with the Component 😃</h2>
  <mat-card *ngIf="formErrorPage">
    <mat-card-header>
      <mat-card-title>Error page</mat-card-title>
    </mat-card-header>
    <mat-card-content class="simulation">
      <p>Example:</p>
<pre>
&lt;dsfr-error-page
  appName="My wonderful app 😃"
  status="404"
  homeLink="/"
  contactUsLink="/contact-us"&gt;
&lt;/dsfr-error-page&gt;
</pre>
      <div class="settings">
        <form
          [formGroup]="formErrorPage"
          novalidate>
          <play-input-property-control
            formControlName="appName"
            name="appName"
            type="string">
          </play-input-property-control>
          <play-input-property-control
            formControlName="title"
            name="title"
            type="string">
          </play-input-property-control>
          <play-input-property-control
            formControlName="status"
            name="status"
            label="Error status"
            type="enum"
            [enum]="possibleStatusError">
          </play-input-property-control>
          <button
            mat-raised-button
            color="accent"
            (click)="formErrorPage.reset()">
            Reset
          </button>
        </form>
      </div>
      <div class="simulator-wrapper mat-elevation-z4">
        <play-simulator>
          <dsfr-error-page
            [title]="formErrorPage.getRawValue().title"
            [appName]="formErrorPage.getRawValue().appName"
            [status]="formErrorPage.getRawValue().status"
            homeLink="/modules/error-page"
            contactUsLink="/modules/error-page">
          </dsfr-error-page>
        </play-simulator>
      </div>
    </mat-card-content>
  </mat-card>
</section>
